.body1{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #094480, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.inputbox{
    display: block;
    margin: 25px;
    padding: 7px;
    width: 300px;
    border: 1px solid skyblue;

}

.register{
    margin-left: 30%;
}

.signup-btn{
    background-color: #094480;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin:65px;
    cursor: pointer;
}